<div class="container-fluid">

  <!-- Youtube -->
  <h2>Youtube</h2>
  <div class="row">
    {{#each videos as |video|}}
    <div class="col-lg-2">
      <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">
        <div class="card w-100 h-100">
          <img class="card-img-top" src="{{video.snippet.thumbnails.high.url}}" alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">{{video.snippet.title}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">{{video.snippet.channelTitle}}</li>
          </ul>
          <div class="card-footer">
            <div class="card-text text-center">
              <i class="far fa-star" data-src="youtube" data-url="https://www.youtube.com/watch?v={{video.id.videoId}}" data-image="{{video.snippet.thumbnails.high.url}}" data-title="{{video.snippet.title}}" data-channel="{{video.snippet.channelTitle}}"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>

  <!-- Stack Overflow -->
  <h2>Stack Overflow</h2>
  <div class="row">
    {{#each stackPosts as |post|}}
    <div class="col-lg-2">
      <a href="{{post.link}}" target="_blank">
        <div class="card w-100 h-100">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">Likes: {{post.score}}</li>
          </ul>
          <div class="card-footer">
            <div class="card-text text-center">
              <i class="far fa-star" data-src="stackoverflow" data-url="{{post.link}}" data-title="{{post.title}}" data-likes="{{post.score}}"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>

  <!-- Reddit -->
  <h2>Reddit</h2>
  <div class="row">
    {{#each redditPosts as |post|}}
    <div class="col-lg-2">
      <a href="https://www.reddit.com{{post.data.permalink}}" target="_blank">
        <div class="card w-100 h-100">
          <div class="card-body">
            <h5 class="card-title">{{post.data.title}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">Likes: {{post.data.ups}}</li>
          </ul>
          <div class="card-footer">
            <div class="card-text text-center">
              <i class="far fa-star" data-src="stackoverflow" data-url="{{post.data.permalink}}" data-title="{{post.data.title}}" data-likes="{{post.data.up}}"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>