<div class="container-fluid">

  <!-- Youtube -->
  <h2>Youtube</h2>
  <div class="row">
    {{#each videos as |video|}}
      <div class="col-lg-2">
        <a
          href="https://www.youtube.com/watch?v={{video.id.videoId}}"
          target="_blank"
        >
          <div class="card w-100 h-100">
            <img
              class="card-img-top"
              src="{{video.snippet.thumbnails.high.url}}"
              alt="Card image cap"
            />
            <div class="card-body">
              <p class="card-text">{{video.snippet.title}}</p>
            </div>
            <div class="card-footer">
              <p class="card-text">{{video.snippet.channelTitle}}</p>
            </div>
          </div>
        </a>
      </div>
    {{/each}}
  </div>

  <!-- Stack Overflow -->
  <h2>Stack Overflow</h2>
  <div class="row">
    {{#each stackPosts as |post|}}
      <div class="col-lg-2">
        <a href="{{post.link}}" target="_blank">
          <div class="card w-100 h-100">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
            </div>
            <div class="card-footer">
              <h6 class="card-subtitle mb-2 text-muted">Upvotes:
                {{post.score}}</h6>
            </div>
          </div>
        </a>
      </div>
    {{/each}}
  </div>

  <!-- Reddit -->
  <h2>Reddit</h2>
  <div class="row">
    {{#each redditPosts as |post|}}
      <div class="col-lg-2">
        <a href="https://www.reddit.com{{post.data.permalink}}" target="_blank">
          <div class="card w-100 h-100">
            <div class="card-body">
              <h5 class="card-title">{{post.data.title}}</h5>
            </div>
            <div class="card-footer">
              <h6 class="card-subtitle mb-2 text-muted">Upvotes:
                {{post.data.ups}}</h6>
            </div>
          </div>
        </a>
      </div>
    {{/each}}
</div>