<!--youtube-->
<div class="container-fluid">

  <h1>Youtube</h1>
  <div class="row">
    {{#each videos as |video|}}
    <div class="col-lg-2">
      <a href="https://www.youtube.com/watch?v={{video.id.videoId}}">
        <div class="card w-100 h-100">
          <img class="card-img-top" src="{{video.snippet.thumbnails.high.url}}" alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">{{video.snippet.title}}</p>
          </div>
          <div class="card-footer">
            <p class="card-text">{{video.snippet.channelTitle}}</p>
          </div>

        </div>
      </a>
    </div>
    {{/each}}
    <div class="col-lg-2">
      <button type="submit" class="btn h-100" id="search">More</button>
    </div>
  </div>

  <!--Stackoverflow-->
  <h1>Stack Overflow</h1>
  <div class="row">
    {{#each stackPosts as |post|}}
    <div class="col-lg-2">
      <a href="{{post.link}}">
        <div class="card w-100 h-100">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
          </div>
          <div class="card-footer">
            <h6 class="card-subtitle mb-2 text-muted">Upvotes: {{post.score}}</h6>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
    <div class="col-2">
      <button type="submit" class="btn h-100" id="search">More</button>
    </div>
  </div>

  <!--reddit-->
  <h1>Reddit</h1>
  <div class="row">
    {{#each redditPosts as |post|}}
    <div class="col-lg-2">
      <a href="https://www.reddit.com{{post.data.permalink}}">
        <div class="card w-100 h-100">
          <div class="card-body">
            <h5 class="card-title">{{post.data.title}}</h5>
          </div>
          <div class="card-footer">
            <h6 class="card-subtitle mb-2 text-muted">Upvotes: {{post.data.ups}}</h6>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
    <div class="col-lg-2">
      <button type="submit" class="btn h-100" id="search">More</button>
    </div>
  </div>

</div>