<div class="container-fluid">

  <h1>Stack Overflow</h1>
  <div class="row">
    {{#each posts as |post|}}
    <div class="col-lg-2">
      <a href="{{post.link}}" target="_blank">
        <div class="card w-100 h-100">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">Likes: {{post.score}}</li>
          </ul>
          <div class="card-footer">
            <div class="card-text text-center">
              <i class="far fa-star" data-source="stackoverflow" data-url="{{post.link}}" data-title="{{post.title}}" data-likes="{{post.score}}"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>

</div>